-if video.exam
  =link_to 'Edit', edit_teacher_course_step_video_exam_path(@step.course,@step,video,video.exam), remote:true , class: 'btn btn-primary'
  =link_to 'Delete', [:teacher,@step.course,@step,video,video.exam], method: :delete, remote:true , class: 'btn btn-danger', data: { confirm: 'Are you sure?' }
-else  
  =link_to "Add Exam", new_teacher_course_step_video_exam_path(@step.course, @step, video), remote:true, class: 'btn btn-success'
