/ Modal
.f-categories-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title categories
      =form_for @course, url: categories_teacher_course_path(@course) do |f|
        .modal-body
          .canine.row
            %ul.span4
            - Category.roots.each do |category|
              %li.parent-list
                =render 'teacher/categories/category_row', category: category
                - if category.has_children?
                  %i.icon-caret-down
                  %ul
                    -category.children.each do |subcategory|
                      %li
                        =render partial: 'teacher/categories/category_row', category: subcategory

        .modal-footer
          .actions
            = f.submit class: 'btn btn-primary'

            