<h1 style="box-sizing: border-box; margin: 10.5px 0px 60px; font-family: sofiapro-light, Arial, sans-serif; font-weight: normal; line-height: 1.2em; color: #333333; text-rendering: optimizelegibility; font-size: 36px; text-align: center;">Congrats!</h1>
<hr class="header-after" style="box-sizing: border-box; margin: 21px 0px 72px; border-right-width: 0px; border-left-width: 0px; border-top-style: solid; border-top-color: #cccccc; border-bottom-style: solid; border-bottom-color: #ffffff; width: 1100px; color: #333333; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px;" />

<div class="row coursera-photo-row" style="box-sizing: border-box; margin-left: 0px; margin-bottom: 96px; color: #333333; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px;">

<div class="row coursera-photo-row" style="box-sizing: border-box; margin-left: 0px; margin-bottom: 96px; color: #333333; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px;">
<div class="span6 coursera-about-photo" style="box-sizing: border-box; float: left; min-height: 30px; margin-left: 0px; width: 460px;"><img style="box-sizing: border-box; max-width: 100%; height: auto; vertical-align: middle; border: 0px; width: 470px; background-color: #cccccc;" src="https://coursera_assets.s3.amazonaws.com/about/overview/about_achieve_your_goals.jpg" alt="" /></div>
<div class="span6 text" style="box-sizing: border-box; float: left; min-height: 30px; margin-left: 20px; width: 560px; padding: 0px 0px 0px 55px;">
<h2 style="box-sizing: border-box; margin: 0px 0px 15px; font-family: sofiapro-light, Arial, sans-serif; font-weight: normal; line-height: 1.2em; color: inherit; text-rendering: optimizelegibility; font-size: 24px; width: auto;">Achieve your goals</h2>
<p class="byline" style="box-sizing: border-box; margin: 0px 0px 10.5px; font-family: 'Helvetica Neue'; color: #777777;">Account created!!</p>
<p>&nbsp;</p>
</div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
