%footer
  .container
    .footer-wrapper
      .row
        .col-lg-5.col-lg-offset-1.col-md-5.col-xs-offset-0
          %nav#footer-menu
            %ul.nav
              %li
                %a{href: "#"} Kursy online
              %li
                %a{href: "#"} Regulamin
              %li
                %a{href: "#"} Uczelnia
              %li
                %a{href: "#"} Wykładowcy
              %li
                %a{href: "#"} O nas
              %li
                %a{href: "#"} Kontakt
        .col-lg-5
          %p.copyright © 2014
          .social-icon
            %a.fb{href: "#"}
              = image_tag 'facebook.png'
            %a.tw{href: "#"}
              = image_tag 'twitter.png'
