%header
  .header-shadow
  .top-line
  .container
    .top-header
      .row
        .col-lg-2.col-lg-offset-1.col-md-2.col-xs-offset-0
          %a#logo{href: "#"}
            %img{alt: "", src: "/assets/img/logo.svg"}/
        .col-lg-8.col-md-10
          %i.icon-menu.fa.fa-list.fa-2x
        .col-lg-8.col-md-10
          %nav#main-menu
            %ul.nav.nav-pills
              %li
                %a{href: "#"} Kursy
              %li
                %a{href: "#"} Uczelnie
              %li
                %a{href: "#"} O nas
            %ul.nav.nav-pills
              %li
                %a{href: "#"} Rejestracja
              %li
                %a.login{href: "#"} Logowanie
    .slogan-wrapper
      .row
        .col-lg-10.col-lg-offset-1.col-xs-offset-0
          %p.header-slogan Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    .header-course
      .row
        .col-lg-10.col-lg-offset-1.col-xs-offset-0
          %img.img-responsive{alt: "", src: "/assets/img/sponsorowane.png"}/
          %a.show-hc{href: "#"} Zobacz kurs