/ Modal
.f-player-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-lg
    .modal-content.video__modal
      .modal-body.video__modal__body
        .f-player.player{"data-video_id" => video.id}
          #videoDiv Loading...