.content
  %h2.title
    = t("web-app-theme.new", :default => "New")
    Video
  .inner
    %p Step 1: add information about your video.
    = form_for @video, :url => upload_new_video_path, :html => { :class => :form } do |f|
      = render :partial => "form", :locals => {:f => f}