.media
  =image_tag user.avatar.url(:thumb), class: 'img-circle pull-left media-object'
  .media-body
    %h4.media-heading=user.username
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.