%section.how-it-work
  .container
    %p.hit-title Jak to działa ?
    .hit-wrapper
      .row
        .hit-box.col-lg-10.col-lg-offset-1.col-xs-offset-0
          .hit-item.col-lg-4.col-md-4.col-sm-12
            = image_tag 'za-darmo.svg'
            %p.hit-item-name Dla każdego
            .hit-item-desc
              Dla młodszego i starszego. Dla maturzysty i
              doktora. Dla pracodawcy i pracownika. Dla biegnących do celu i wciąż szukających. Wiedza jest dla każdego!
          .hit-item.col-lg-4.col-md-4.col-sm-12
            = image_tag 'wszedzie.svg'
            %p.hit-item-name Wszędzie
            .hit-item-desc
              W domu, w podróży, na wakacjach. Rano, wieczorem i w nocy. W Polsce, Europie, na świecie. Jesteśmy tu 24 godziny na dobę, bo na naukę nigdy nie jest za późno.
          .hit-item.col-lg-4.col-md-4.col-sm-12
            = image_tag 'za-darmo.svg'
            %p.hit-item-name Za darmo
            .hit-item-desc
              Naprawdę wierzymy, że wiedza jest dla każdego.
      .row
        %a.hit-more-info{href: "#"} Więcej informacji