#content-navbar
  %h2.navbar-headline= course.name
  .user-avatar

    %a{href: ""}
      = image_tag current_user.avatar.url(:thumb)

  .course-promoted
    %a{href: "#"}
      = image_tag 'course/aip.png'
      / %img{alt: "", src: "course/aip.png"}/
