#content-navbar
  %h2.navbar-headline Practicing Tolerance in a Religious Society
  .user-avatar

    %a{href: ""}
      / %img{alt: "", src: "course/jura-avatar.jpg"}/
      = image_tag 'course/jura-avatar.jpg'

  .course-promoted
    %a{href: "#"}
      = image_tag 'course/aip.png'
      / %img{alt: "", src: "course/aip.png"}/
