#logo.logo
  = link_to root_path do
    = image_tag 'course/logo.svg', alt: "nuedu.pl logo"
.instructor-wrapper
  %span Wykładowca
  .instructor-items
    .iw-instructor-info
      = image_tag 'course/avatar.jpg', class: 'ii-instructor-avatar'
      / %img.ii-instructor-avatar{alt: "", src: "avatar.jpg"}/
      .ii-instructor-name
        Jonathan
        %br/
        Biss
.school-wrapper
  %span Uczelnia
  .school-items
    .sw-school-info
      / %img.si-school-avarat{alt: "", src: "logo-uj-pnl.png"}/
      = image_tag 'course/logo-uj-pnl.png', class: 'si-school-avarat'
      .si-school-name
        Uniwersytet
        %br/
        Jagieloński
.courses-wrapper-menu
  %span Kursy
  %ul#cwm-list
    %li
      %a.m-book-ico{href: "#"}
        %i.fa.fa-file
        Wykłady
    %li
      %a.m-notepad-ico{href: "#"}
        %i.fa.fa-file-text
        Kolokwia
    %li
      %a.m-document-ico{href: "#"}
        %i.fa.fa-file-o
        Egzaminy
.about-course-menu
  %span O kursie
  %ul#acm-list
    %li
      %a.m-sylabus-ico{href: "#"}
        %i.fa.fa-align-justify
        Sylabus
    %li
      %a.m-info-ico{href: "#"}
        %i.fa.fa-info-circle
        Informacje od wykładowcy
    %li
      %a.m-forum-ico{href: "#"}
        %i.fa.fa-comment
        Forum