#logo.logo
  %a{href: "index.html"}
    %img{alt: "nuedu.pl logo", src: "logo.svg"}/
.instructor-wrapper
  %span Wykładowca
  .instructor-items
    .iw-instructor-info
      %img.ii-instructor-avatar{alt: "", src: "avatar.jpg"}/
      .ii-instructor-name
        Jonathan
        %br/
        Biss
.school-wrapper
  %span Uczelnia
  .school-items
    .sw-school-info
      %img.si-school-avarat{alt: "", src: "logo-uj-pnl.png"}/
      .si-school-name
        Uniwersytet
        %br/
        Jagieloński
.courses-wrapper-menu
  %span Kursy
  %ul#cwm-list
    %li
      %a.m-book-ico{href: "#"}
        %i.fa.fa-file
        Wykłady
    %li
      %a.m-notepad-ico{href: "#"}
        %i.fa.fa-file-text
        Kolokwia
    %li
      %a.m-document-ico{href: "#"}
        %i.fa.fa-file-o
        Egzaminy
.about-course-menu
  %span O kursie
  %ul#acm-list
    %li
      %a.m-sylabus-ico{href: "#"}
        %i.fa.fa-align-justify
        Sylabus
    %li
      %a.m-info-ico{href: "#"}
        %i.fa.fa-info-circle
        Informacje od wykładowcy
    %li
      %a.m-forum-ico{href: "#"}
        %i.fa.fa-comment
        Forum