%h3
  Categories
  =link_to 'edit', select_categories_teacher_course_path(@course), remote:true, class: 'edit-link'
%ul.list-group
  - @course.categories.each do |category|
    %li.list-group-item=category.name 
.f-categories