- content_for :header do
  = render 'nowe_widoki/course/header', course: @course
- content_for :left_menu do
  = render 'nowe_widoki/teacher/course/left_menu', course: @course


%h1 New course
.row
  .col-md-9
    = render 'form'
