.row
  .col-md-2
    =render 'courses/show/menu_sidebar', course: @step.course
  .col-md-8
    %h2
      = "#{@step.name}"
    %p
      = @step.description.html_safe

    %br
    =render 'steps/videos_list', step: @step
  .col-md-2
    =render 'steps/progress_box', step: @step
    =render 'steps/attachments', step: @step

.f-player-container
.f-exam-container

