%h1 Listing courses
- @courses.in_groups_of(3, false) do |group| 
  .row
    - group.each do |course|
      .col-sm-6.col-md-4
        .thumbnail
          %img{alt: "...", "data-src" => "holder.js/200x150"}/
          .caption
            %h3=course.name
            %p=course.description.html_safe
            %p
              = link_to 'Show more', course, class: 'btn btn-primary'
              = link_to 'Enroll', course, class: 'btn btn-default'
