-if @video.errors.any?
  %ul
    - @video.errors.full_messages.each do |msg|
      %li= msg 
.form-group
  = f.label :title, t("activerecord.attributes.video.title", :default => "Title")
  = f.text_field :title, :class => 'form-control'
.group.navform
  - if @video.new_record?
    %button.btn.btn-default{type: "submit"}
      Go to Step 2
  - else
    %button.btn.btn-default{type: "submit"}
      Save
