%h1 Video
.row
  .col-md-12
    %p
      = raw yt_client.my_video(@video.yt_id).embed_html
    %p
      = link_to "Edit", edit_teacher_video_path(@video), :class => "button"
      = link_to "Delete", teacher_video_path(@video), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"