/ Modal
.f-exam-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        .f-play-exam.f-exam-results{"data-step_id" => @step.id, "data-video_id" => (@video ? @video.id : ''), "data-course_id" => @course.id, 'data-exam' => exam.id}
          #carousel-questions.carousel.slide{"data-ride" => "carousel"}
            / Indicators
            %ol.carousel-indicators
              -exam.questions.each_with_index do |question, idx|
                %li{"data-slide-to" => idx, "data-target" => "#carousel-questions", class: (idx == 0 ? 'active' : '')}
            / Wrapper for slides
            .carousel-inner
              -exam.questions.each_with_index do |question, idx|
                .item.exam__area{class:(idx == 0 ? 'active' : '')}
                  .carousel-caption.f-question{'data-question' => question.id}
                    .question
                      %h3
                        ="Question #{idx+1}"
                      =question.question
                    .answers
                      -question.answers.each_with_index do |answer,idx|
                        .answers__answer 
                          .checkbox
                            %label
                              %input.f-answer{type:'checkbox', 'data-answer' => answer.id}
                                =answer.answer
            .exam__upload
              =link_to 'Finish', "#", class: 'btn btn-primary f-exam-upload-button'
            / Controls
            %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-questions"}
              %span.glyphicon.glyphicon-chevron-left
            %a.right.carousel-control{"data-slide" => "next", href: "#carousel-questions"}
              %span.glyphicon.glyphicon-chevron-right