%ul.nav.nav-pills
  %li= link_to 'Create course', new_teacher_course_path
  %li= link_to 'My courses', teacher_courses_path
  
%h1 Your courses
- @courses.in_groups_of(3, false) do |group| 
  .row
    - group.each do |course|
      .col-sm-6.col-md-4
        =render 'teacher/courses/course_tile', course: course
